@include desktop{
    .info{
        @include container;
        display: grid;
        margin-top: 40px;
        grid-template-columns: 1fr minmax(48.88em, 48.88em) 1fr; 
            
        .me{
            padding-top: 40px;
            grid-column: 2/3;
            display: grid;   
            box-sizing: border-box;
            grid-template-columns: minmax(300px, 300px) 2fr; 
            gap: 10px;
            .about-image{
                width: 240px;
                height: auto;
                margin-bottom: 40px;        
                margin-left: 40px;
                box-sizing: border-box;
                grid-column: 1/2;
            }
            
            .about-desc{       
                padding-right: 40px;
                grid-column: 2/3;       
                box-sizing: border-box;
                h1{
                    @include title($fs: 3rem, $color: $midnightblue, $lh: 1.3);
                    text-align: end;
                    
                }
                h2{
                    text-align: end;
                }
                p{  
                    padding-top: 8px;
                    text-align: justify;
                }
            }
            
        }

    }
}

@include mobile{
    
    .info{
        @include container;
        margin-top: 40px;
        
        .me{  
            padding-top: 40px;
            .about-image{
                width: 80%;
                max-width: 360px;
                height: auto;  
                margin: 0 auto;  
                margin-bottom: 40px;                                           
            }
            
            .about-desc{  
                width: 80%;
                max-width: 360px;                
                margin: 0 auto;  
                h1{
                    @include title($fs: 1.6rem, $color: $midnightblue, $lh: 1.2);
                    text-align: center;                   
                    
                }
                h2{
                    text-align: center;
                }
                p{  
                    box-sizing: border-box;
                    text-align: justify;
                    
                }
            }
            
        }

    }
 
}