body{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    color: gray;
}
.container{    
    background-color: #eee;
    width: 100%;
    text-align: center;
}
.cal{
    margin: 0 auto;
    background-color: cyan;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}
#display{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
.clear {
    position: absolute;
    top: 5;
    right: 5;
    text-decoration: none;
    background-color: #eee;
    height: 55px;
    width: 20px;
    border-radius: 4px; 
    cursor: pointer; 
}
.key{
    padding: 10px;
    width: 60px;
    border: none;
    border-radius: 4px;
    background-color: white;
}
.key:hover{
    background-color: #eee;
}
.key:focus, #display:focus{
    outline: none;
}

