// COLORS
$eerieblack: rgba(30, 30, 30, 1);
$licorice: rgba(20, 20, 20, 1);
$smokeyblack: rgba(7, 7, 7, 1);
$snow: rgba(255, 252, 248, 1);
$jet: rgba(51, 51, 51, 1);
$rosemadder: #e71d36;
$maxbluegreen: #2ec4b6;
$gold: #ffd60c;
$platinum: #e8e9eb;